.side_menu {
  height: 35rem;
  display: none;

  @media (width >= 1024px) {
    display: block;
  }
}

.side_menu_item {
  border-radius: calc(var(--spacing) * 6);
  font-size: 13px;
  text-wrap: nowrap;

  &:hover {
    background-color: var(--hover);
  }

  &.active {
    background-image: var(--active-tab);
    color: var(--font-active);
    box-shadow: 0px 2px 10px var(--shadow);
  }
}

.hidden_menu_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100rem;
  width: 100%;
  z-index: 999;

  .hidden_menu {
    width: 70%;
    height: 100rem;
    background-color: var(--container-background);
    box-shadow: 0px 2px 10px var(--shadow);
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 3);
    animation: menuOpen 0.5s;
  }
}

@keyframes menuOpen {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menuClose {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
